@charset "UTF-8";
html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  font-size: 1rem;
  color: #6d6f70;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6d6f70;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-inner {
  padding: 60px 15px;
}

.section-inner .heading {
  margin-bottom: 40px;
  text-align: center;
}

.section-inner .heading .title {
  display: inline-block;
  font-family: "Dosis", sans-serif;
  font-size: 3.3rem;
  letter-spacing: 0.3rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 5px;
}

.section-inner .heading .sub {
  font-size: 1.1rem;
}

.highlight-y {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, yellow));
  background: linear-gradient(transparent 40%, yellow 40%);
}

.highlight-b {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #6cf));
  background: linear-gradient(transparent 40%, #6cf 40%);
}

.highlight-g {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #6f6));
  background: linear-gradient(transparent 40%, #6f6 40%);
}

/************************************************
ヘッダー header
************************************************/
#header {
  background-color: white;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

#header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 15px;
}

#header .header-inner .logo a {
  display: block;
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 70px;
}

#header .header-inner .logo a:hover {
  opacity: 0.7;
}

#header .header-inner #pc-nav .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-inner #pc-nav .menu-list li a {
  display: block;
  padding: 0 15px;
  line-height: 70px;
  position: relative;
  overflow: hidden;
}

#header .header-inner #pc-nav .menu-list li a::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -3px;
  left: 0;
  background-color: #6d6f70;
  height: 3px;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#header .header-inner #pc-nav .menu-list li a:hover {
  opacity: 0.8;
}

#header .header-inner #pc-nav .menu-list li a:hover::after {
  bottom: 0;
}

#header .header-inner #sp-nav {
  display: none;
}

#header .header-inner #sp-nav #hamburger-menu {
  display: none;
}

#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span {
  position: absolute;
  top: 50%;
}

#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(1) {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(2) {
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

#header .header-inner #sp-nav #hamburger-menu:checked + #hamburger-menu-icon span:nth-of-type(3) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#header .header-inner #sp-nav #hamburger-menu:checked ~ .menu-list {
  right: 0;
}

#header .header-inner #sp-nav #hamburger-menu-icon {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: #6fbcbf;
  cursor: pointer;
  z-index: 100;
}

#header .header-inner #sp-nav #hamburger-menu-icon:hover {
  opacity: 0.7;
}

#header .header-inner #sp-nav #hamburger-menu-icon span {
  display: block;
  height: 3px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(1) {
  width: 20px;
  margin-bottom: 5px;
}

#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(2) {
  width: 20px;
  margin-bottom: 5px;
}

#header .header-inner #sp-nav #hamburger-menu-icon span:nth-of-type(3) {
  width: 15px;
}

#header .header-inner #sp-nav .menu-list {
  position: fixed;
  width: 200px;
  height: 100vh;
  padding-top: 80px;
  top: 0;
  right: -200px;
  background-color: #6fbcbf;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  z-index: 10;
}

#header .header-inner #sp-nav .menu-list li a {
  display: block;
  padding: 15px;
  color: white;
  font-size: 1.3rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .header-inner #sp-nav .menu-list li a:hover {
  background-color: #9dc1c2;
}

/************************************************
メイン main
************************************************/
#main {
  margin-top: 70px;
}

/************************************************
トップ top
************************************************/
#top {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("../img/top/top.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#top .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Dosis", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

#top .sub-title {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/************************************************
プロフィール profile
************************************************/
#profile {
  min-height: calc(50vh - 70px);
  background-color: white;
}

#profile .profile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile .profile-inner .heading .title {
  border-bottom-color: #6d6f70;
}

#profile .profile-inner .icon-img {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#profile .profile-inner .name-text {
  font-size: 1.4rem;
  margin: 15px 0;
}

#profile .profile-inner .info-text {
  font-size: 1rem;
  margin-bottom: 15px;
}

#profile .profile-inner .sns-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#profile .profile-inner .sns-icon a {
  display: block;
  cursor: pointer;
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 20px;
}

#profile .profile-inner .sns-icon a:last-of-type {
  margin-right: 0;
}

#profile .profile-inner .sns-icon a:hover {
  opacity: 0.7;
}

#profile .profile-inner .sns-icon a.mail {
  background-color: #6fbcbf;
}

#profile .profile-inner .sns-icon a.twitter {
  background-color: #00adee;
}

#profile .profile-inner .sns-icon a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: white;
}

#profile .profile-inner .sns-icon a i.fa-github {
  color: #6d6f70;
  font-size: 2.4rem;
}

/************************************************
資格 certification
************************************************/
#certification {
  background-color: #00adee;
}

#certification .certification-inner .heading .title {
  color: white;
  border-bottom-color: white;
}

#certification .certification-inner .heading .sub {
  color: white;
}

#certification .certification-inner .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#certification .certification-inner .item-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 10px);
  max-width: 550px;
  height: 80px;
  padding: 20px;
  margin-bottom: 40px;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: white;
  border-left: 10px solid #6fbcbf;
  border-radius: 0 10px 10px 0;
}

#certification .certification-inner .item-list .item:last-of-type {
  margin-bottom: 0;
}

/************************************************
スキル skills
************************************************/
#skills {
  background-color: #f1f1f1;
}

#skills .skills-inner .heading {
  margin-bottom: 30px;
}

#skills .skills-inner .heading .title {
  color: #00adee;
  border-bottom-color: #00adee;
}

#skills .skills-inner .heading .sub {
  color: #00adee;
}

#skills .skills-inner .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills .skills-inner .item-list .item {
  width: calc((100% - 2.5% * 2 * 4) / 4);
  margin: 2.5%;
  border-radius: 15px;
  background-color: white;
  position: relative;
}

#skills .skills-inner .item-list .item::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#skills .skills-inner .item-list .item .skill-circle {
  position: absolute;
  top: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skills-inner .item-list .item .skill-circle .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #6fbcbf;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}

#skills .skills-inner .item-list .item .skill-circle .circle::before, #skills .skills-inner .item-list .item .skill-circle .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #d6d6d6;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#skills .skills-inner .item-list .item .skill-circle .circle::before {
  left: -50%;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
  z-index: 2;
}

#skills .skills-inner .item-list .item .skill-circle .circle::after {
  left: 50%;
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
  z-index: 3;
}

#skills .skills-inner .item-list .item .skill-circle .circle .circle-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 50%;
  z-index: 4;
}

#skills .skills-inner .item-list .item .skill-circle .circle .circle-inner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 55%;
  height: 55%;
}

#skills .skills-inner .item-list .item .skill-circle .circle-75::before {
  -webkit-animation-name: rotate-circle-left-25;
          animation-name: rotate-circle-left-25;
}

#skills .skills-inner .item-list .item .skill-circle .circle-75::after {
  -webkit-animation-name: rotate-circle-right-50;
          animation-name: rotate-circle-right-50;
}

#skills .skills-inner .item-list .item .skill-circle .circle-62::before {
  -webkit-animation-name: rotate-circle-left-12;
          animation-name: rotate-circle-left-12;
}

#skills .skills-inner .item-list .item .skill-circle .circle-62::after {
  -webkit-animation-name: rotate-circle-right-50;
          animation-name: rotate-circle-right-50;
}

#skills .skills-inner .item-list .item .skill-circle .circle-50::after {
  -webkit-animation-name: rotate-circle-right-50;
          animation-name: rotate-circle-right-50;
}

#skills .skills-inner .item-list .item .skill-circle .circle-37::after {
  -webkit-animation-name: rotate-circle-right-37;
          animation-name: rotate-circle-right-37;
}

#skills .skills-inner .item-list .item .skill-circle .circle-25::after {
  -webkit-animation-name: rotate-circle-right-25;
          animation-name: rotate-circle-right-25;
}

#skills .skills-inner .item-list .item .skill-name {
  position: absolute;
  top: 62%;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

#skills .skills-inner .item-list .item .skill-remarks {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

/************************************************
制作物 works
************************************************/
#works {
  background-color: #00adee;
}

#works .works-inner .heading {
  margin-bottom: 30px;
}

#works .works-inner .heading .title {
  color: white;
  border-bottom-color: white;
}

#works .works-inner .heading .sub {
  color: white;
}

#works .works-inner .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works .works-inner .item-list .item {
  width: calc((100% - 4% * 2 * 2) / 2);
  border-radius: 5px;
  margin: 4%;
  background-color: white;
  position: relative;
  overflow: hidden;
}

#works .works-inner .item-list .item::before {
  content: "";
  display: block;
  padding-top: calc(100% * 0.83333);
}

#works .works-inner .item-list .item .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#works .works-inner .item-list .item .link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

#works .works-inner .item-list .item .link .title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3;
}

#works .works-inner .item-list .item .link .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

#works .works-inner .item-list .item .link:hover {
  opacity: 1;
}

#works .works-inner .item-list .item .link:hover::before {
  opacity: 0.7;
}

#works .works-inner .item-list .item .link:hover .title {
  opacity: 1;
}

/************************************************
フッター footer
************************************************/
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3b3b3b;
  height: 70px;
}

#footer .footer-inner .copyright {
  font-size: 0.8rem;
  color: white;
}

#footer .footer-inner .copyright .fa-copyright {
  margin-right: 5px;
}

#footer #scroll-to-top-btn {
  cursor: pointer;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6fbcbf;
  visibility: hidden;
}

#footer #scroll-to-top-btn:hover {
  background-color: #6fbcbfc4;
}

#footer #scroll-to-top-btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 25%;
  height: 25%;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

#footer #scroll-to-top-btn::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 25%;
  height: 25%;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

/************************************************
紹介ページ introduction-container
************************************************/
.introduction-container {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.introduction-container .bread-crumb-list {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction-container .bread-crumb-list ul li {
  display: inline;
}

.introduction-container .bread-crumb-list ul li::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-top: 3px solid #6fbcbf;
  border-right: 3px solid #6fbcbf;
  -webkit-transform: translateY(-2px) rotate(45deg);
          transform: translateY(-2px) rotate(45deg);
  margin: 0 5px;
}

.introduction-container .bread-crumb-list ul li:first-of-type::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f015";
  color: #6fbcbf;
  border-top: none;
  border-right: none;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin: 0 13px 0 0;
}

.introduction-container .bread-crumb-list ul li a {
  color: #3aa0d3;
}

.introduction-container .bread-crumb-list ul li a:hover {
  opacity: 0.7;
}

.introduction-container .side-nav {
  width: 22%;
  height: 350px;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: scroll;
  top: 70px;
}

.introduction-container .side-nav .nav-link-list li a {
  display: block;
  padding: 5px 0 5px 15px;
  font-size: 0.9rem;
  color: #3aa0d3;
  position: relative;
}

.introduction-container .side-nav .nav-link-list li a.sub {
  padding: 5px 0 5px 35px;
}

.introduction-container .side-nav .nav-link-list li a.sub-sub {
  padding: 5px 0 5px 55px;
}

.introduction-container .side-nav .nav-link-list li a:hover {
  opacity: 0.7;
}

.introduction-container .side-nav .nav-link-list li a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 7px solid #6fbcbf;
  border-bottom: 5px solid transparent;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.introduction-container .side-nav .nav-link-list li a.scroll::before {
  opacity: 1;
}

.introduction-container main {
  width: 75%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 40px;
}

.introduction-container main .article section {
  margin-bottom: 15px;
}

.introduction-container main .article section:last-of-type {
  margin-bottom: 0;
}

.introduction-container main .article p {
  line-height: 2;
}

.introduction-container main .article a {
  color: #3aa0d3;
}

.introduction-container main .article img {
  margin: 5px 0;
}

.introduction-container main .article .top-img {
  margin: 0;
}

.introduction-container main .article .article-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.introduction-container main .article .article-header .modified-time {
  color: #a8aabc;
}

.introduction-container main .article .article-header .modified-time i {
  margin-right: 3px;
}

.introduction-container main .article .heading-top {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.introduction-container main .article .heading-section {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 12px;
  background-color: #f1f1f1;
  border-left: 6px solid #6fbcbf;
  margin: 25px -20px 25px -20px;
}

.introduction-container main .article .heading-sub-section {
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 6px 12px;
  margin: 15px 0px;
  position: relative;
}

.introduction-container main .article .heading-sub-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 6px;
  height: 100%;
  background-color: #6fbcbf;
}

.introduction-container main .article .heading-sub-sub-section {
  display: block;
}

.introduction-container main .article .heading-sub-sub-section span {
  display: inline-block;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 0px;
  margin: 10px 0px;
  border-bottom: 2px dotted #6d6f70;
}

.introduction-container main .article .list {
  padding: 0px 10px 0px 20px;
}

.introduction-container main .article .list li {
  padding: 10px 0;
  position: relative;
}

.introduction-container main .article .list li::before {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.introduction-container main .article .list.sub-list {
  margin-left: 5px;
}

.introduction-container main .article .list.normal-list li::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f0da";
  color: #6fbcbf;
}

.introduction-container main .article .list.number-list {
  padding: 0px 10px 0px 40px;
  counter-reset: my-counter;
}

.introduction-container main .article .list.number-list li::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  background-color: #6fbcbf;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  width: 18px;
  color: #ffffff;
  font-size: 0.7rem;
  position: absolute;
  top: 50%;
  left: -25px;
}

.introduction-container main .article .list.purpose-list {
  padding: 0px 10px 0px 40px;
  border-radius: 10px;
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px, #e9f4ff 3px, #e9f4ff 7px);
}

.introduction-container main .article .list.purpose-list li::before {
  left: -25px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f058";
  color: #6fbcbf;
}

.introduction-container .works-list-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.introduction-container .works-list-link a {
  padding: 10px 15px;
  background-color: #00adee;
  color: white;
  border-radius: 10px;
}

/************************************************
keyframes
************************************************/
@-webkit-keyframes rotate-circle-right-25 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #d6d6d6;
  }
  25%,
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: #d6d6d6;
  }
}
@keyframes rotate-circle-right-25 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #d6d6d6;
  }
  25%,
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: #d6d6d6;
  }
}

@-webkit-keyframes rotate-circle-right-37 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #d6d6d6;
  }
  37.5%,
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    background: #d6d6d6;
  }
}

@keyframes rotate-circle-right-37 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #d6d6d6;
  }
  37.5%,
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    background: #d6d6d6;
  }
}

@-webkit-keyframes rotate-circle-right-50 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #d6d6d6;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: #d6d6d6;
  }
  50.01% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #6fbcbf;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #6fbcbf;
  }
}

@keyframes rotate-circle-right-50 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    background: #d6d6d6;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: #d6d6d6;
  }
  50.01% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #6fbcbf;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    background: #6fbcbf;
  }
}

@-webkit-keyframes rotate-circle-left-25 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75%,
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate-circle-left-25 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75%,
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes rotate-circle-left-12 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62.5%,
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes rotate-circle-left-12 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  62.5%,
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

/************************************************
メディアクエリ
************************************************/
@media screen and (max-width: 1024px) {
  /************************************************
  資格 certification
  ************************************************/
  #certification .certification-inner .item-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #certification .certification-inner .item-list .item {
    width: 100%;
  }
  /************************************************
  スキル skills
  ************************************************/
  #skills .skills-inner .item-list .item {
    width: calc((100% - 2.5% * 2 * 3) / 3);
  }
}

@media screen and (max-width: 599px) {
  .section-inner .heading .title {
    font-size: 2.9rem;
  }
  /************************************************
  ヘッダー header
  ************************************************/
  #header .header-inner .logo a {
    font-size: 1.1rem;
  }
  #header .header-inner #pc-nav {
    display: none;
  }
  #header .header-inner #sp-nav {
    display: block;
  }
  /************************************************
  トップ top
  ************************************************/
  #top .title {
    font-size: 2rem;
  }
  #top .sub-title {
    top: 55%;
    font-size: 1rem;
  }
  /************************************************
  資格 certification
  ************************************************/
  #certification .certification-inner .heading .title {
    letter-spacing: 0.1rem;
  }
  #certification .certification-inner .item-list .item {
    height: 60px;
    font-size: 0.9rem;
    margin-bottom: 30px;
  }
  /************************************************
  スキル skills
  ************************************************/
  #skills .skills-inner .item-list .item {
    width: calc((100% - 2.5% * 2 * 2) / 2);
  }
  #skills .skills-inner .item-list .item .skill-name {
    font-size: 1rem;
  }
  #skills .skills-inner .item-list .item .skill-remarks {
    font-size: 0.8rem;
  }
  /************************************************
  制作物 works
  ************************************************/
  #works .works-inner .item-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #works .works-inner .item-list .item {
    max-width: 320px;
    width: 100%;
    margin: 4% 0;
  }
  #works .works-inner .item-list .item .link .title {
    font-size: 1.2rem;
  }
  /************************************************
  フッター footer
  ************************************************/
  #footer .footer-inner #back-btn {
    width: 40px;
    height: 40px;
  }
  /************************************************
  紹介ページ introduction-container
  ************************************************/
  .introduction-container {
    padding: 0;
  }
  .introduction-container .bread-crumb-list {
    margin-left: 15px;
  }
  .introduction-container .side-nav {
    display: none;
  }
  .introduction-container main {
    width: 100%;
    padding: 15px;
  }
  .introduction-container main .article .heading-top {
    font-size: 1.3rem;
  }
  .introduction-container main .article .heading-section {
    font-size: 1.2rem;
    padding: 9px;
    margin: 20px 0;
  }
  .introduction-container main .article .heading-sub-section {
    font-size: 1.1rem;
  }
  .introduction-container main .article .article-header .modified-time {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */