@charset "UTF-8";

html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  font-size: 1rem;
  color: #6d6f70;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6d6f70;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-inner {
  padding: 60px 15px;

  .heading {
    margin-bottom: 40px;
    text-align: center;

    .title {
      display: inline-block;
      font-family: "Dosis", sans-serif;
      font-size: 3.3rem;
      letter-spacing: 0.3rem;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      margin-bottom: 5px;
    }

    .sub {
      font-size: 1.1rem;
    }
  }
}

.highlight-y {
  background: linear-gradient(transparent 40%, yellow 40%);
}

.highlight-b {
  background: linear-gradient(transparent 40%, #6cf 40%);
}

.highlight-g {
  background: linear-gradient(transparent 40%, #6f6 40%);
}

/************************************************
ヘッダー header
************************************************/
$header-height: 70px;
$hamburger-menu-color: #6fbcbf;
#header {
  background-color: white;
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;

    .logo {
      a {
        display: block;
        font-family: "Dosis", sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: $header-height;
        &:hover {
          opacity: 0.7;
        }
      }
    }

    #pc-nav {
      .menu-list {
        display: flex;
        li {
          a {
            display: block;
            padding: 0 15px;
            line-height: $header-height;
            position: relative;
            overflow: hidden;

            &::after {
              position: absolute;
              display: block;
              content: "";
              bottom: -3px;
              left: 0;
              background-color: #6d6f70;
              height: 3px;
              width: 100%;
              transition: 0.2s;
            }

            &:hover {
              opacity: 0.8;
              &::after {
                bottom: 0;
              }
            }
          }
        }
      }
    }

    #sp-nav {
      display: none;

      #hamburger-menu {
        display: none;

        &:checked {
          + #hamburger-menu-icon {
            span {
              position: absolute;
              top: 50%;
              &:nth-of-type(1) {
                transform: translateY(-50%) rotate(45deg);
              }

              &:nth-of-type(2) {
                transform: translateY(-50%) rotate(135deg);
              }

              &:nth-of-type(3) {
                transform: scale(0);
              }
            }
          }
          ~ .menu-list {
            right: 0;
          }
        }
      }

      #hamburger-menu-icon {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 50%;
        background-color: $hamburger-menu-color;
        cursor: pointer;
        z-index: 100;

        &:hover {
          opacity: 0.7;
        }

        span {
          display: block;
          height: 3px;
          background-color: #ffffff;
          transition: transform 0.5s;

          &:nth-of-type(1) {
            width: 20px;
            margin-bottom: 5px;
          }

          &:nth-of-type(2) {
            width: 20px;
            margin-bottom: 5px;
          }

          &:nth-of-type(3) {
            width: 15px;
          }
        }
      }

      .menu-list {
        position: fixed;
        width: 200px;
        height: 100vh;
        padding-top: 80px;
        top: 0;
        right: -200px;
        background-color: $hamburger-menu-color;
        transition: right 0.5s;
        z-index: 10;

        li {
          a {
            display: block;
            padding: 15px;
            color: white;
            font-size: 1.3rem;
            text-align: center;
            transition: 0.5s;

            &:hover {
              background-color: #9dc1c2;
            }
          }
        }
      }
    }
  }
}

/************************************************
メイン main
************************************************/
#main {
  margin-top: $header-height;
}

/************************************************
トップ top
************************************************/
#top {
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-image: url("../img/top/top.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dosis", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
  }

  .sub-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Dosis", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}

/************************************************
プロフィール profile
************************************************/
$icon-img-width: 140px;
$icon-img-height: 140px;
#profile {
  min-height: calc(50vh - #{$header-height});
  background-color: white;
  .profile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
      .title {
        border-bottom-color: #6d6f70;
      }
    }

    .icon-img {
      display: block;
      width: $icon-img-width;
      height: $icon-img-height;
      border-radius: 50%;
      object-fit: cover;
    }

    .name-text {
      font-size: 1.4rem;
      margin: 15px 0;
    }

    .info-text {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .sns-icon {
      display: flex;
      a {
        display: block;
        cursor: pointer;
        position: relative;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.7;
        }

        &.mail {
          background-color: #6fbcbf;
        }
        &.twitter {
          background-color: #00adee;
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.4rem;
          color: white;
          &.fa-github {
            color: #6d6f70;
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

/************************************************
資格 certification
************************************************/
#certification {
  background-color: #00adee;
  .certification-inner {
    .heading {
      .title {
        color: white;
        border-bottom-color: white;
      }
      .sub {
        color: white;
      }
    }
    .item-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .item {
        display: flex;
        align-items: center;
        width: calc(50% - 10px);
        max-width: 550px;
        height: 80px;
        padding: 20px;
        margin-bottom: 40px;
        font-size: 1.3rem;
        font-weight: bold;
        background-color: white;
        border-left: 10px solid #6fbcbf;
        border-radius: 0 10px 10px 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

/************************************************
スキル skills
************************************************/
$skills-item-margin: 2.5%;
#skills {
  background-color: #f1f1f1;
  .skills-inner {
    .heading {
      margin-bottom: 30px;
      .title {
        color: #00adee;
        border-bottom-color: #00adee;
      }
      .sub {
        color: #00adee;
      }
    }

    .item-list {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc((100% - #{$skills-item-margin} * 2 * 4) / 4);
        margin: $skills-item-margin;
        border-radius: 15px;
        background-color: white;
        position: relative;

        &::before {
          content: "";
          display: block;
          padding-top: 100%;
        }

        .skill-circle {
          position: absolute;
          top: 7%;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .circle {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #6fbcbf;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1;

            &::before,
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: rgb(214, 214, 214);
              animation-duration: 1.8s;
              animation-timing-function: linear;
              animation-fill-mode: forwards;
            }

            &::before {
              left: -50%;
              transform-origin: right 50%;
              z-index: 2;
            }

            &::after {
              left: 50%;
              transform-origin: left 50%;
              z-index: 3;
            }

            .circle-inner {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 80%;
              height: 80%;
              background: white;
              border-radius: 50%;
              z-index: 4;

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 55%;
                height: 55%;
              }
            }
          }

          .circle-75 {
            &::before {
              animation-name: rotate-circle-left-25;
            }
            &::after {
              animation-name: rotate-circle-right-50;
            }
          }

          .circle-62 {
            &::before {
              animation-name: rotate-circle-left-12;
            }
            &::after {
              animation-name: rotate-circle-right-50;
            }
          }

          .circle-50 {
            &::after {
              animation-name: rotate-circle-right-50;
            }
          }

          .circle-37 {
            &::after {
              animation-name: rotate-circle-right-37;
            }
          }

          .circle-25 {
            &::after {
              animation-name: rotate-circle-right-25;
            }
          }
        }

        .skill-name {
          position: absolute;
          top: 62%;
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
        }

        .skill-remarks {
          position: absolute;
          top: 80%;
          width: 100%;
          text-align: center;
          font-size: 1rem;
        }
      }
    }
  }
}

/************************************************
制作物 works
************************************************/
$works-item-margin: 4%;
$works-item-img-ratio: 250 / 300;
#works {
  background-color: #00adee;
  .works-inner {
    .heading {
      margin-bottom: 30px;
      .title {
        color: white;
        border-bottom-color: white;
      }
      .sub {
        color: white;
      }
    }

    .item-list {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc((100% - #{$works-item-margin} * 2 * 2) / 2);
        border-radius: 5px;
        margin: $works-item-margin;
        background-color: white;
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          display: block;
          padding-top: calc(100% * #{$works-item-img-ratio});
        }

        .link {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0;
            transition: 0.5s;
            z-index: 2;
          }

          .title {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 100%;
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
            color: white;
            opacity: 0;
            transition: 0.5s;
            z-index: 3;
          }

          .thumbnail {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
          }

          &:hover {
            &::before {
              opacity: 0.7;
            }
            .title {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/************************************************
フッター footer
************************************************/
$footer-height: 70px;
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: $footer-height;
  .footer-inner {
    .copyright {
      font-size: 0.8rem;
      color: white;
      .fa-copyright {
        margin-right: 5px;
      }
    }
  }

  #scroll-to-top-btn {
    cursor: pointer;
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6fbcbf;
    visibility: hidden;
    &:hover {
      background-color: #6fbcbfc4;
    }
    &::before {
      content: "";
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 25%;
      height: 25%;
      border-top: 3px solid white;
      border-left: 3px solid white;
    }
    &::after {
      content: "";
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 25%;
      height: 25%;
      border-top: 3px solid white;
      border-left: 3px solid white;
    }
  }
}

/************************************************
紹介ページ introduction-container
************************************************/
$link-color: rgb(58, 160, 211);
.introduction-container {
  margin-top: $header-height;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;

  .bread-crumb-list {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    ul {
      li {
        display: inline;

        &:after {
          content: "";
          display: inline-block;
          width: 9px;
          height: 9px;
          border-top: 3px solid #6fbcbf;
          border-right: 3px solid #6fbcbf;
          transform: translateY(-2px) rotate(45deg);
          margin: 0 5px;
        }

        &:last-of-type::after {
          content: "";
          display: none;
        }

        a {
          color: $link-color;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .sideNav {
    width: 22%;
    height: 300px;
    position: sticky;
    overflow-y: scroll;
    top: $header-height;

    .nav-link-list {
      li {
        a {
          display: block;
          height: 30px;
          line-height: 30px;
          padding-left: 15px;
          font-size: 0.9rem;
          color: $link-color;
          position: relative;

          &.sub {
            padding-left: 35px;
          }

          &:hover {
            opacity: 0.7;
          }

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 7px solid #6fbcbf;
            border-bottom: 5px solid transparent;
            opacity: 0;
            transition: opacity 0.2s;
          }

          &.scroll::before {
            opacity: 1;
          }
        }
      }
    }
  }

  main {
    width: 75%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    .article {
      .heading-top {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
      }

      .heading-section {
        text-align: left;
        font-size: 1.6rem;
        padding: 12px;
        background-color: #f1f1f1;
        border-left: 8px solid #6fbcbf;
        margin-bottom: 10px;
      }

      .heading-sub-section {
        text-align: left;
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
    }
  }

  .works-list-link {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $link-color;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/************************************************
keyframes
************************************************/
@keyframes rotate-circle-right-25 {
  0% {
    transform: rotate(0deg);
    background: rgb(214, 214, 214);
  }
  25%,
  100% {
    transform: rotate(90deg);
    background: rgb(214, 214, 214);
  }
}

@keyframes rotate-circle-right-37 {
  0% {
    transform: rotate(0deg);
    background: rgb(214, 214, 214);
  }
  37.5%,
  100% {
    transform: rotate(135deg);
    background: rgb(214, 214, 214);
  }
}

@keyframes rotate-circle-right-50 {
  0% {
    transform: rotate(0deg);
    background: rgb(214, 214, 214);
  }
  50% {
    transform: rotate(180deg);
    background: rgb(214, 214, 214);
  }
  50.01% {
    transform: rotate(360deg);
    background: #6fbcbf;
  }
  100% {
    transform: rotate(360deg);
    background: #6fbcbf;
  }
}

@keyframes rotate-circle-left-25 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75%,
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-circle-left-12 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5%,
  100% {
    transform: rotate(45deg);
  }
}

/************************************************
メディアクエリ
************************************************/
@media screen and (max-width: 1024px) {
  /************************************************
  資格 certification
  ************************************************/
  #certification {
    .certification-inner {
      .item-list {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        .item {
          width: 100%;
        }
      }
    }
  }
  /************************************************
  スキル skills
  ************************************************/
  #skills {
    .skills-inner {
      .item-list {
        .item {
          width: calc((100% - #{$skills-item-margin} * 2 * 3) / 3);
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .section-inner {
    .heading {
      .title {
        font-size: 2.9rem;
      }
    }
  }

  /************************************************
  ヘッダー header
  ************************************************/
  #header {
    .header-inner {
      .logo {
        a {
          font-size: 1.1rem;
        }
      }

      #pc-nav {
        display: none;
      }

      #sp-nav {
        display: block;
      }
    }
  }

  /************************************************
  トップ top
  ************************************************/
  #top {
    .title {
      font-size: 2rem;
    }

    .sub-title {
      top: 55%;
      font-size: 1rem;
    }
  }

  /************************************************
  資格 certification
  ************************************************/
  #certification {
    .certification-inner {
      .heading {
        .title {
          letter-spacing: 0.1rem;
        }
      }

      .item-list {
        .item {
          height: 60px;
          font-size: 0.9rem;
          margin-bottom: 30px;
        }
      }
    }
  }

  /************************************************
  スキル skills
  ************************************************/
  #skills {
    .skills-inner {
      .item-list {
        .item {
          width: calc((100% - #{$skills-item-margin} * 2 * 2) / 2);
          .skill-name {
            font-size: 1rem;
          }
          .skill-remarks {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  /************************************************
  制作物 works
  ************************************************/
  #works {
    .works-inner {
      .item-list {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        .item {
          max-width: 320px;
          width: 100%;
          margin: $works-item-margin 0;
          .link {
            .title {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  /************************************************
  フッター footer
  ************************************************/
  #footer {
    .footer-inner {
      #back-btn {
        width: 40px;
        height: 40px;
      }
    }
  }

  /************************************************
  紹介ページ introduction-container
  ************************************************/
  .introduction-container {
    .sideNav {
      height: 300px;
      position: fixed;
      overflow-y: scroll;
      top: $header-height;
      right: 100px;
      display: none;

      .nav-link-list {
        li {
          a {
            display: block;
            height: 30px;
            line-height: 30px;
            padding-left: 15px;
            font-size: 0.9rem;
            color: $link-color;
            position: relative;

            &.sub {
              padding-left: 35px;
            }

            &:hover {
              opacity: 0.7;
            }

            &::before {
              content: "";
              display: inline-block;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-left: 7px solid #6fbcbf;
              border-bottom: 5px solid transparent;
              opacity: 0;
              transition: opacity 0.2s;
            }

            &.scroll::before {
              opacity: 1;
            }
          }
        }
      }
    }

    main {
      width: 100%;
      .article {
        .heading-top {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 20px;
        }

        .heading-section {
          text-align: left;
          font-size: 1.6rem;
          padding: 12px;
          background-color: #f1f1f1;
          border-left: 8px solid #6fbcbf;
          margin-bottom: 10px;
        }

        .heading-sub-section {
          text-align: left;
          font-size: 1.3rem;
          margin-bottom: 10px;
        }
      }
    }
  }
}
