@charset "UTF-8";

html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  font-size: 1rem;
  color: #383e45;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #383e45;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-inner {
  padding: 60px 15px;

  .section-title {
    font-family: "Dosis", sans-serif;
    font-size: 3.3rem;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-bottom: 25px;
  }
}

.highlight-y {
  background: linear-gradient(transparent 40%, yellow 40%);
}

.highlight-b {
  background: linear-gradient(transparent 40%, #6cf 40%);
}

.highlight-g {
  background: linear-gradient(transparent 40%, #6f6 40%);
}

/************************************************
ヘッダー header
************************************************/
$header-height: 70px;
$hamburger-menu-color: #5a90fd;
#header {
  background-color: white;
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;

    .logo {
      a {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    #pc-nav {
      .menu-list {
        display: flex;
        li {
          a {
            display: block;
            padding: 0 20px;
            line-height: $header-height;
            position: relative;
            overflow: hidden;

            &::after {
              position: absolute;
              display: block;
              content: "";
              bottom: -3px;
              left: 0;
              background-color: #232323;
              height: 3px;
              width: 100%;
              transition: 0.2s;
            }

            &:hover {
              opacity: 0.8;
              &::after{
                bottom: 0;
              }
            }
          }
        }
      }
    }

    #sp-nav {
      display: none;

      #hamburger-menu {
        display: none;

        &:checked {
          + #hamburger-menu-icon {
            span {
              position: absolute;
              top: 50%;
              &:nth-of-type(1) {
                transform: translateY(-50%) rotate(45deg);
              }

              &:nth-of-type(2) {
                transform: translateY(-50%) rotate(135deg);
              }

              &:nth-of-type(3) {
                transform: scale(0);
              }
            }
          }
          ~ .menu-list {
            right: 0;
          }
        }
      }

      #hamburger-menu-icon {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 50%;
        background-color: $hamburger-menu-color;
        cursor: pointer;
        z-index: 100;

        span {
          display: block;
          height: 3px;
          background-color: #ffffff;
          transition: transform 0.5s;

          &:nth-of-type(1) {
            width: 20px;
            margin-bottom: 5px;
          }

          &:nth-of-type(2) {
            width: 20px;
            margin-bottom: 5px;
          }

          &:nth-of-type(3) {
            width: 15px;
          }
        }
      }

      .menu-list {
        position: fixed;
        width: 200px;
        height: 100vh;
        padding-top: 80px;
        top: 0;
        right: -200px;
        background-color: $hamburger-menu-color;
        transition: right 0.5s;
        z-index: 10;

        li {
          a {
            display: block;
            padding: 15px;
            color: white;
            font-size: 1.3rem;
            text-align: center;
            transition: 0.5s;

            &:hover {
              background-color: #7ca7fd;
            }
          }
        }
      }
    }
  }
}

/************************************************
メイン main
************************************************/
main {
  margin-top: $header-height;
}

/************************************************
トップ top
************************************************/
#top {
  width: 100%;
  height: 50vh;
  background-image: url("../img/top/top.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
  }

  .sub-title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}

/************************************************
プロフィール profile
************************************************/
$icon-img-width: 140px;
$icon-img-height: 140px;
#profile {
  min-height: calc(50vh - #{$header-height});
  background-color: white;
  .profile-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: calc(#{$icon-img-height} / 2);

    .icon-img {
      position: absolute;
      top: calc(#{$icon-img-height} / 2 * -1);
      left: 50%;
      transform: translateX(-50%);
      width: $icon-img-width;
      height: $icon-img-height;
      border-radius: 50%;
      object-fit: cover;
    }

    .name-text {
      font-size: 1.4rem;
      margin: 15px 0;
    }

    .info-text {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .sns-icon {
      display: flex;
      a {
        display: block;
        cursor: pointer;
        position: relative;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          opacity: 0.7;
        }

        &.mail {
          background-color: #5a90fd;
        }
        &.twitter {
          background-color: rgb(29, 155, 240);
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.4rem;
          color: white;
          &.fa-github {
            color: #383e45;
            font-size: 2.4rem;
          }
        }
      }
    }
  }
}

/************************************************
スキル skills
************************************************/
$skill-item-margin: 15px;
#skills {
  background-color: #f1f1f1;
  .skills-inner {
    .section-title {
      color: #00adee;
    }

    .item-wrapper {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc(100% / 4 - #{$skill-item-margin} * 2);
        height: 200px;
        border-radius: 15px;
        margin: $skill-item-margin;
        background-color: white;
      }
    }
  }
}

/************************************************
制作物 works
************************************************/
$work-item-margin: 15px;
#works {
  background-color: #00adee;
  .works-inner {
    .section-title {
      color: white;
    }

    .item-wrapper {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc(100% / 2 - #{$work-item-margin} * 2);
        height: 200px;
        border-radius: 15px;
        margin: $work-item-margin;
        background-color: white;
      }
    }
  }
}

/************************************************
フッター footer
************************************************/
$footer-height: 70px;
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
  height: $footer-height;
  .footer-inner {
    position: relative;
    #back-btn {
      cursor: pointer;
      display: block;
      position: fixed;
      bottom: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #6fbcbf;
      visibility: hidden;
      &:hover {
        background-color: #6fbcbfc4;
      }
      &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 25%;
        height: 25%;
        border-top: 3px solid white;
        border-left: 3px solid white;
      }
      &::after {
        content: "";
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 25%;
        height: 25%;
        border-top: 3px solid white;
        border-left: 3px solid white;
      }
    }
    .copyright {
      font-size: 0.8rem;
      color: white;
      .fa-copyright {
        margin-right: 5px;
      }
    }
  }
}

/************************************************
メディアクエリ
************************************************/
@media screen and (max-width: 1024px) {
  /************************************************
  スキル skills
  ************************************************/
  #skills {
    .skills-inner {
      .item-wrapper {
        .item {
          width: calc(100% / 3 - #{$skill-item-margin} * 2);
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  /************************************************
  ヘッダー header
  ************************************************/
  #header {
    .header-inner {
      .logo {
        a {
          font-size: 1rem;
        }
      }

      #pc-nav {
        display: none;
      }

      #sp-nav {
        display: block;
      }
    }
  }

  /************************************************
  トップ top
  ************************************************/
  #top {
    height: calc(100vh - #{$header-height});

    .title {
      font-size: 2rem;
    }

    .sub-title {
      top: 55%;
      font-size: 1rem;
    }
  }

  /************************************************
  スキル skills
  ************************************************/
  #skills {
    .skills-inner {
      .item-wrapper {
        .item {
          width: calc(100% / 2 - #{$skill-item-margin} * 2);
        }
      }
    }
  }

  /************************************************
  制作物 works
  ************************************************/
  #works {
    .works-inner {
      .item-wrapper {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        .item {
          width: calc(90% - #{$work-item-margin} * 2);
        }
      }
    }
  }

  /************************************************
  フッター footer
  ************************************************/
  #footer {
    .footer-inner {
      #back-btn {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 399px) {
  /************************************************
  スキル skills
  ************************************************/
  #skills {
    .skills-inner {
      .item-wrapper {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        .item {
          width: calc(90% - #{$skill-item-margin} * 2);
        }
      }
    }
  }
}
